* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Javanese Text", sans-serif;
}
h1 {
    text-align: center;
    padding-top: 25vh;
}
p {
    height: 150px;
    width: 200px;
    text-align: center;
}

form {
    font-size: 25px;
    padding: 5vh 0 0 42vw;
}
